{
  "swagger": "2.0",
  "info": {
    "title": "Open Bank Project API",
    "description": "An Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL and commercial licences.",
    "contact": {
      "name": "TESOBE Ltd. / Open Bank Project",
      "url": "https://openbankproject.com",
      "email": "contact@tesobe.com"
    },
    "version": "v3.0.0"
  },
  "host": "available.openbankproject.com",
  "basePath": "/obp/v3.0.0",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "directLogin": {
      "type": "apiKey",
      "description": "https://github.com/OpenBankProject/OBP-API/wiki/Direct-Login",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "directLogin": []
    }
  ],
  "paths": {
    "/banks": {
      "get": {
        "tags": [
          "1_2_1"
        ],
        "summary": "Get Banks",
        "security": [
          {
            "directLogin": []
          }
        ],
        "description": "Get banks on this API instance\nReturns a list of banks supported on this server:\n\n* ID used as parameter in URLs\n* Short and full name of bank\n* Logo URL\n* Website",
        "operationId": "v1_2_1-getBanks",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BanksJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUnknownError"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}": {
      "get": {
        "tags": [
          "1_2_1"
        ],
        "summary": "Get Bank",
        "security": [
          {
            "directLogin": []
          }
        ],
        "description": "Get the bank specified by BANK_ID\nReturns information about a single bank specified by BANK_ID including:\n\n* Short and full name of bank\n* Logo URL\n* Website",
        "operationId": "v1_2_1-bankById",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BankJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/account": {
      "get": {
        "tags": [
          "3_0_0"
        ],
        "summary": "Get Account by Id (Full)",
        "security": [
          {
            "directLogin": []
          }
        ],
        "description": "Information returned about an account specified by ACCOUNT_ID as moderated by the view (VIEW_ID):\n\n* Number\n* Owners\n* Type\n* Balance\n* IBAN\n* Available views (sorted by short_name)\n\nMore details about the data moderation by the view [here](#1_2_1-getViewsForBankAccount).\n\nPSD2 Context: PSD2 requires customers to have access to their account information via third party applications.\nThis call provides balance and other account information via delegated authenticaiton using OAuth.\n\nAuthentication is required if the 'is_public' field in view (VIEW_ID) is not set to `true`.\n",
        "operationId": "v3_0_0-accountById",
        "parameters": [
          {
            "in": "path",
            "name": "VIEW_ID",
            "description": "The view id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ACCOUNT_ID",
            "description": "The account id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModeratedAccountJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorBankNotFound"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types/{TRANSACTION_REQUEST_TYPE}/transaction-requests/{TRANSACTION_REQUEST_ID}/challenge": {
      "post": {
        "tags": [
          "3_0_0"
        ],
        "summary": "Answer Transaction Request Challenge.",
        "security": [
          {
            "directLogin": []
          }
        ],
        "description": "In Sandbox mode, any string that can be converted to a positive integer will be accepted as an answer.",
        "operationId": "v3_0_0-answerTransactionRequestChallenge",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "BANK_BODY",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChallengeAnswerJSON"
            }
          },
          {
            "in": "path",
            "name": "TRANSACTION_REQUEST_ID",
            "description": "The transaction request id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "TRANSACTION_REQUEST_TYPE",
            "description": "The transaction request type",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "VIEW_ID",
            "description": "The view id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ACCOUNT_ID",
            "description": "The account id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TransactionRequestWithChargeJson"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types/TRANSFER_TO_PHONE/transaction-requests": {
      "post": {
        "tags": [
          "3_0_0"
        ],
        "summary": "Create Transaction Request TRANSFER_TO_PHONE",
        "security": [
          {
            "directLogin": []
          }
        ],
        "description": "Initiate a Payment via creating a Transaction Request.\n\nIn OBP, a `transaction request` may or may not result in a `transaction`. However, a `transaction` only has one possible state: completed.\n\nA `Transaction Request` can have one of several states.\n\n`Transactions` are modeled on items in a bank statement that represent the movement of money.\n\n`Transaction Requests` are requests to move money which may or may not succeeed and thus result in a `Transaction`.\n\nA `Transaction Request` might create a security challenge that needs to be answered before the `Transaction Request` proceeds.\n\nTransaction Requests contain charge information giving the client the opportunity to proceed or not (as long as the challenge level is appropriate).\n\nTransaction Requests can have one of several Transaction Request Types which expect different bodies. The escaped body is returned in the details key of the GET response.\nThis provides some commonality and one URL for many different payment or transfer types with enough flexibility to validate them differently.\n\nThe payer is set in the URL. Money comes out of the BANK_ID and ACCOUNT_ID specified in the URL.\n\nThe payee is set in the request body. Money goes into the BANK_ID and ACCOUNT_ID specified in the request body.\n\nIn sandbox mode, TRANSACTION_REQUEST_TYPE is commonly set to SANDBOX_TAN. See getTransactionRequestTypesSupportedByBank for all supported types.\n\nIn sandbox mode, if the amount is less than 1000 EUR (any currency, unless it is set differently on this server), the transaction request will create a transaction without a challenge, else the Transaction Request will be set to INITIALISED and a challenge will need to be answered.\n\nIf a challenge is created you must answer it using Answer Transaction Request Challenge before the Transaction is created.\n\nYou can transfer between different currency accounts. (new in 2.0.0). The currency in body must match the sending account.\n\nThe following static FX rates are available in sandbox mode:\n\n{\n  \"XAF\":{\n    \"AUD\":0.00228226,\n    \"KRW\":1.87975,\n    \"JOD\":0.00127784,\n    \"GBP\":0.00131092,\n    \"AED\":0.00601555,\n    \"INR\":0.110241,\n    \"JPY\":0.185328,\n    \"USD\":0.00163773,\n    \"ILS\":0.00641333,\n    \"EUR\":0.00152449\n  },\n  \"AUD\":{\n    \"XAF\":438.162,\n    \"KRW\":895.304,\n    \"JOD\":0.556152,\n    \"GBP\":0.609788,\n    \"AED\":2.88368,\n    \"INR\":50.4238,\n    \"JPY\":87.0936,\n    \"USD\":0.785256,\n    \"ILS\":2.83558,\n    \"EUR\":0.667969\n  },\n  \"KRW\":{\n    \"XAF\":0.531986,\n    \"AUD\":0.00111694,\n    \"JOD\":6.30634E-4,\n    \"GBP\":6.97389E-4,\n    \"AED\":0.00320019,\n    \"INR\":0.0586469,\n    \"JPY\":0.0985917,\n    \"USD\":8.7125E-4,\n    \"ILS\":0.00316552,\n    \"EUR\":8.11008E-4\n  },\n  \"JOD\":{\n    \"XAF\":782.572,\n    \"AUD\":1.63992,\n    \"KRW\":1585.68,\n    \"GBP\":1.06757,\n    \"AED\":5.18231,\n    \"INR\":90.1236,\n    \"JPY\":156.304,\n    \"USD\":1.41112,\n    \"ILS\":5.02018,\n    \"EUR\":0.237707\n  },\n  \"GBP\":{\n    \"XAF\":762.826,\n    \"AUD\":1.63992,\n    \"KRW\":1433.92,\n    \"JOD\":0.936707,\n    \"AED\":4.58882,\n    \"INR\":84.095,\n    \"JPY\":141.373,\n    \"USD\":1.2493,\n    \"ILS\":4.7002,\n    \"EUR\":1.16278\n  },\n  \"AED\":{\n    \"XAF\":166.236,\n    \"AUD\":0.346779,\n    \"KRW\":312.482,\n    \"GBP\":0.217921,\n    \"AED\":0.192964,\n    \"INR\":18.3255,\n    \"JPY\":30.8081,\n    \"USD\":0.27225,\n    \"ILS\":0.968033,\n    \"EUR\":0.253425\n  },\n  \"INR\":{\n    \"XAF\":9.07101,\n    \"AUD\":0.0198319,\n    \"KRW\":17.0512,\n    \"JOD\":0.0110959,\n    \"GBP\":0.0118913,\n    \"AED\":0.0545671,\n    \"JPY\":1.68111,\n    \"USD\":0.0148559,\n    \"ILS\":0.0556764,\n    \"EUR\":0.0138287\n  },\n  \"JPY\":{\n    \"XAF\":5.39585,\n    \"AUD\":0.0114819,\n    \"KRW\":10.1428,\n    \"JOD\":0.00639777,\n    \"GBP\":0.0070735,\n    \"AED\":0.032459,\n    \"INR\":0.594846,\n    \"USD\":0.00883695,\n    \"ILS\":0.0320926,\n    \"EUR\":0.00822592\n  },\n  \"USD\":{\n    \"XAF\":610.601,\n    \"AUD\":1.27347,\n    \"KRW\":1147.78,\n    \"JOD\":0.708659,\n    \"GBP\":0.800446,\n    \"AED\":3.6731,\n    \"INR\":67.3135,\n    \"JPY\":113.161,\n    \"ILS\":3.55495,\n    \"EUR\":0.930886\n  },\n  \"ILS\":{\n    \"XAF\":155.925,\n    \"AUD\":0.352661,\n    \"KRW\":315.903,\n    \"JOD\":0.199196,\n    \"GBP\":0.212763,\n    \"AED\":1.03302,\n    \"INR\":17.9609,\n    \"JPY\":31.1599,\n    \"USD\":0.281298,\n    \"EUR\":1.19318\n  },\n  \"EUR\":{\n    \"XAF\":655.957,\n    \"AUD\":1.49707,\n    \"KRW\":1233.03,\n    \"JOD\":0.838098,\n    \"GBP\":0.860011,\n    \"AED\":3.94594,\n    \"INR\":72.3136,\n    \"JPY\":121.567,\n    \"USD\":1.07428,\n    \"ILS\":4.20494\n  }\n}\n\n\nTransaction Requests satisfy PSD2 requirements thus:\n\n1) A transaction can be initiated by a third party application.\n\n2) The customer is informed of the charge that will incurred.\n\n3) The call supports delegated authentication (OAuth)\n\nSee [this python code](https://github.com/OpenBankProject/Hello-OBP-DirectLogin-Python/blob/master/hello_payments.py) for a complete example of this flow.\n\nThere is further documentation [here](https://github.com/OpenBankProject/OBP-API/wiki/Transaction-Requests)\n\nAuthentication is Mandatory\n\n\n\nSpecial instructions for TRANSFER_TO_PHONE:\n\nWhen using a TRANSFER_TO_PHONE, the following fields need to be filling in Json Body\nfrom_account_owner_nickname : Nickname of the money sender (20 symbols)\nfrom_account_phone_number   : Mobile number of the money sender (10 digits)\nother_account_phone_number  : Mobile number of the money receiver (10 digits)\nother_account_message       : Message text to the money receiver (50 symbols)\n       ",
        "operationId": "v3_0_0-createTransactionRequestTransferToPhone",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "BANK_BODY",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionRequestBodyTransferToPhoneJson"
            }
          },
          {
            "in": "path",
            "name": "VIEW_ID",
            "description": "The view id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ACCOUNT_ID",
            "description": "The account id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TransactionRequestWithChargeJSON210"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions": {
      "get": {
        "tags": [
          "3_0_0"
        ],
        "summary": "Get Transactions for Account (Full)",
        "security": [
          {
            "directLogin": []
          }
        ],
        "description": "Returns transactions list of the account specified by ACCOUNT_ID and [moderated](#1_2_1-getViewsForBankAccount) by the view (VIEW_ID).\n\nAuthentication via OAuth is required if the view is not public.\n\nPossible custom headers for pagination:\n\n* obp_sort_by=CRITERIA ==> default value: \"completed\" field\n* obp_sort_direction=ASC/DESC ==> default value: DESC\n* obp_limit=NUMBER ==> default value: 50\n* obp_offset=NUMBER ==> default value: 0\n* obp_from_date=DATE => default value: date of the oldest transaction registered (format below)\n* obp_to_date=DATE => default value: date of the newest transaction registered (format below)\n\n**Date format parameter**: \"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\" (2014-07-01T00:00:00.000Z) ==> time zone is UTC.",
        "operationId": "v3_0_0-getTransactionsForBankAccount",
        "parameters": [
          {
            "in": "path",
            "name": "VIEW_ID",
            "description": "The view id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ACCOUNT_ID",
            "description": "The account id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TransactionsJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorFilterSortDirectionError"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/transaction": {
      "get": {
        "tags": [
          "1_2_1"
        ],
        "summary": "Get Transaction by Id.",
        "security": [
          {
            "directLogin": []
          }
        ],
        "description": "Returns one transaction specified by TRANSACTION_ID of the account ACCOUNT_ID and [moderated](#1_2_1-getViewsForBankAccount) by the view (VIEW_ID).\n\nAuthentication is Optional\nAuthentication is required if the view is not public.\n\n\n",
        "operationId": "v1_2_1-getTransactionByIdForBankAccount",
        "parameters": [
          {
            "in": "path",
            "name": "TRANSACTION_ID",
            "description": "The transaction id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "VIEW_ID",
            "description": "The view id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ACCOUNT_ID",
            "description": "The account id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TransactionJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorBankAccountNotFound"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/accounts/private": {
      "get": {
        "tags": [
          "2_0_0"
        ],
        "summary": "Get private accounts at one bank (Authenticated access).",
        "security": [
          {
            "directLogin": []
          }
        ],
        "description": "Returns the list of private (non-public) accounts at BANK_ID that the user has access to.\nFor each account the API returns the ID and the available views.\n\nIf you want to see more information on the Views, use the Account Detail call.\nIf you want less information about the account, use the /my accounts call\n\n\nAuthentication is Mandatory",
        "operationId": "v2_0_0-privateAccountsAtOneBank",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BasicAccountsJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorHostnameNotSpecified": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00001: Hostname not specified. Could not get hostname from Props. Please edit your props file. Here are some example settings: hostname=http://127.0.0.1:8080 or hostname=https://www.example.com"
        }
      }
    },
    "ErrorDataImportDisabled": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00002: Data import is disabled for this API instance."
        }
      }
    },
    "ErrorTransactionDisabled": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00003: Transaction Requests is disabled in this API instance."
        }
      }
    },
    "ErrorServerAddDataError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00004: Server error: could not add message"
        }
      }
    },
    "ErrorPublicViewsNotAllowedOnThisInstance": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00005: Public views not allowed on this instance. Please set allow_public_views = true in props files. "
        }
      }
    },
    "ErrorRemoteDataSecretMatchError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00006: Remote data secret cannot be matched! Check OBP-API and OBP-Storage Props values for remotedata.hostname, remotedata.port and remotedata.secret."
        }
      }
    },
    "ErrorRemoteDataSecretObtainError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00007: Remote data secret cannot be obtained! Check OBP-API and OBP-Storage Props values for remotedata.hostname, remotedata.port and remotedata.secret."
        }
      }
    },
    "ErrorInvalidJsonFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10001: Incorrect json format."
        }
      }
    },
    "ErrorInvalidNumber": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10002: Invalid Number. Could not convert value to a number."
        }
      }
    },
    "ErrorInvalidISOCurrencyCode": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10003: Invalid Currency Value. It should be three letters ISO Currency Code. "
        }
      }
    },
    "ErrorFXCurrencyCodeCombinationsNotSupported": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10004: ISO Currency code combination not supported for FX. Please modify the FROM_CURRENCY_CODE or TO_CURRENCY_CODE. "
        }
      }
    },
    "ErrorInvalidDateFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10005: Invalid Date Format. Could not convert value to a Date."
        }
      }
    },
    "ErrorInvalidInputJsonFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10006: Invalid input JSON format."
        }
      }
    },
    "ErrorIncorrectRoleName": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10007: Incorrect Role name: "
        }
      }
    },
    "ErrorCouldNotTransformJsonToInternalModel": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10008: Could not transform Json to internal model."
        }
      }
    },
    "ErrorCountNotSaveOrUpdateResource": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10009: Could not save or update resource."
        }
      }
    },
    "ErrorNotImplemented": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10010: Not Implemented "
        }
      }
    },
    "ErrorFilterSortDirectionError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10023: obp_sort_direction parameter can only take two values: DESC or ASC!"
        }
      }
    },
    "ErrorFilterOffersetError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10024: wrong value for obp_offset parameter. Please send a positive integer (=>0)!"
        }
      }
    },
    "ErrorFilterLimitError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10025: wrong value for obp_limit parameter. Please send a positive integer (=>1)!"
        }
      }
    },
    "ErrorFilterDateFormatError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10026: Failed to parse date string. Please use this format yyyy-MM-dd'T'HH:mm:ss.SSS'Z' or that one yyyy-MM-dd'T'HH:mm:ss.SSSZ!"
        }
      }
    },
    "ErrorUserNotLoggedIn": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20001: User not logged in. Authentication is required!"
        }
      }
    },
    "ErrorDirectLoginMissingParameters": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20002: These DirectLogin parameters are missing: "
        }
      }
    },
    "ErrorDirectLoginInvalidToken": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20003: This DirectLogin token is invalid or expired: "
        }
      }
    },
    "ErrorInvalidLoginCredentials": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20004: Invalid login credentials. Check username/password."
        }
      }
    },
    "ErrorUserNotFoundById": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20005: User not found. Please specify a valid value for USER_ID."
        }
      }
    },
    "ErrorUserHasMissingRoles": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20006: User is missing one or more roles: "
        }
      }
    },
    "ErrorUserNotFoundByEmail": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20007: User not found by email."
        }
      }
    },
    "ErrorInvalidConsumerKey": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20008: Invalid Consumer Key."
        }
      }
    },
    "ErrorInvalidConsumerCredentials": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20009: Invalid consumer credentials"
        }
      }
    },
    "ErrorInvalidValueLength": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20010: Value too long"
        }
      }
    },
    "ErrorInvalidValueCharacters": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20011: Value contains invalid characters"
        }
      }
    },
    "ErrorInvalidDirectLoginParameters": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20012: Invalid direct login parameters"
        }
      }
    },
    "ErrorUsernameHasBeenLocked": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20013: The account has been locked, please contact administrator !"
        }
      }
    },
    "ErrorInvalidConsumerId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20014: Invalid Consumer ID. Please specify a valid value for CONSUMER_ID."
        }
      }
    },
    "ErrorUserNoPermissionUpdateConsumer": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20015: Only the developer that created the consumer key should be able to edit it, please login with the right user."
        }
      }
    },
    "ErrorUnexpectedErrorDuringLogin": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20016: An unexpected login error occurred. Please try again."
        }
      }
    },
    "ErrorUserNoPermissionAccessView": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20017: Current user does not have access to the view. Please specify a valid value for VIEW_ID."
        }
      }
    },
    "ErrorInvalidInternalRedirectUrl": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20018: Login failed, invalid internal redirectUrl."
        }
      }
    },
    "ErrorUserNotFoundByUsername": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20027: User not found by username."
        }
      }
    },
    "ErrorGatewayLoginMissingParameters": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20028: These GatewayLogin parameters are missing: "
        }
      }
    },
    "ErrorGatewayLoginUnknownError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20029: Unknown Gateway login error."
        }
      }
    },
    "ErrorGatewayLoginHostPropertyMissing": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20030: Property gateway.host is not defined."
        }
      }
    },
    "ErrorGatewayLoginWhiteListAddresses": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20031: Gateway login can be done only from allowed addresses."
        }
      }
    },
    "ErrorGatewayLoginJwtTokenIsNotValid": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20040: The JWT is corrupted/changed during a transport."
        }
      }
    },
    "ErrorGatewayLoginCannotExtractJwtToken": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20040: Header, Payload and Signature cannot be extracted from the JWT."
        }
      }
    },
    "ErrorBankNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30001: Bank not found. Please specify a valid value for BANK_ID."
        }
      }
    },
    "ErrorCustomerNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30002: Customer not found. Please specify a valid value for CUSTOMER_NUMBER."
        }
      }
    },
    "ErrorCustomerNotFoundByCustomerId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30002: Customer not found. Please specify a valid value for CUSTOMER_ID."
        }
      }
    },
    "ErrorAccountNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30003: Account not found. Please specify a valid value for ACCOUNT_ID."
        }
      }
    },
    "ErrorCounterpartyNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30004: Counterparty not found. The BANK_ID / ACCOUNT_ID specified does not exist on this server."
        }
      }
    },
    "ErrorViewNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30005: View not found for Account. Please specify a valid value for VIEW_ID"
        }
      }
    },
    "ErrorCustomerNumberAlreadyExists": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30006: Customer Number already exists. Please specify a different value for BANK_ID or CUSTOMER_NUMBER."
        }
      }
    },
    "ErrorCustomerAlreadyExistsForUser": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30007: The User is already linked to a Customer at the bank specified by BANK_ID"
        }
      }
    },
    "ErrorUserCustomerLinksNotFoundForUser": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30008: User Customer Link not found by USER_ID"
        }
      }
    },
    "ErrorAtmNotFoundByAtmId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30009: ATM not found. Please specify a valid value for ATM_ID."
        }
      }
    },
    "ErrorBranchNotFoundByBranchId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-300010: Branch not found. Please specify a valid value for BRANCH_ID."
        }
      }
    },
    "ErrorProductNotFoundByProductCode": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30011: Product not found. Please specify a valid value for PRODUCT_CODE."
        }
      }
    },
    "ErrorCounterpartyNotFoundByIban": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30012: Counterparty not found. Please specify a valid value for IBAN."
        }
      }
    },
    "ErrorCounterpartyBeneficiaryPermit": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30013: The account can not send money to the Counterparty. Please set the Counterparty 'isBeneficiary' true first"
        }
      }
    },
    "ErrorCounterpartyAlreadyExists": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30014: Counterparty already exists. Please specify a different value for BANK_ID or ACCOUNT_ID or VIEW_ID or NAME."
        }
      }
    },
    "ErrorCreateBranchError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30015: Could not insert the Branch"
        }
      }
    },
    "ErrorUpdateBranchError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30016: Could not update the Branch"
        }
      }
    },
    "ErrorCounterpartyNotFoundByCounterpartyId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30017: Counterparty not found. Please specify a valid value for COUNTERPARTY_ID."
        }
      }
    },
    "ErrorBankAccountNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30018: Bank Account not found. Please specify valid values for BANK_ID and ACCOUNT_ID. "
        }
      }
    },
    "ErrorConsumerNotFoundByConsumerId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30019: Consumer not found. Please specify a valid value for CONSUMER_ID."
        }
      }
    },
    "ErrorCreateBankError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30020: Could not create the Bank"
        }
      }
    },
    "ErrorUpdateBankError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30021: Could not update the Bank"
        }
      }
    },
    "ErrorViewNoPermission": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30022: The current view does not have the permission: "
        }
      }
    },
    "ErrorUpdateConsumerError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30023: Cannot update Consumer "
        }
      }
    },
    "ErrorCreateConsumerError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30024: Could not create Consumer "
        }
      }
    },
    "ErrorCreateUserCustomerLinksError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30025: Could not create user_customer_links "
        }
      }
    },
    "ErrorConsumerKeyAlreadyExists": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30026: Consumer Key already exists. Please specify a different value."
        }
      }
    },
    "ErrorNoExistingAccountHolders": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30027: Account Holders not found. The BANK_ID / ACCOUNT_ID specified for account holder does not exist on this server"
        }
      }
    },
    "ErrorCreateAtmError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30028: Could not insert the ATM"
        }
      }
    },
    "ErrorUpdateAtmError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30029: Could not update the ATM"
        }
      }
    },
    "ErrorCreateProductError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30030: Could not insert the Product"
        }
      }
    },
    "ErrorUpdateProductError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30031: Could not update the Product"
        }
      }
    },
    "ErrorCreateCardError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30032: Could not insert the Card"
        }
      }
    },
    "ErrorUpdateCardError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30033: Could not update the Card"
        }
      }
    },
    "ErrorViewIdNotSupported": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30034: This ViewId is do not supported. Only support four now: Owner, Public, Accountant, Auditor."
        }
      }
    },
    "ErrorUserCustomerLinkNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30035: User Customer Link not found"
        }
      }
    },
    "ErrorMeetingsNotSupported": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30101: Meetings are not supported on this server."
        }
      }
    },
    "ErrorMeetingApiKeyNotConfigured": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30102: Meeting provider API Key is not configured."
        }
      }
    },
    "ErrorMeetingApiSecretNotConfigured": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30103: Meeting provider Secret is not configured."
        }
      }
    },
    "ErrorMeetingNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30104: Meeting not found."
        }
      }
    },
    "ErrorInvalidAccountBalanceCurrency": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30105: Invalid Balance Currency."
        }
      }
    },
    "ErrorInvalidAccountBalanceAmount": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30106: Invalid Balance Amount."
        }
      }
    },
    "ErrorInvalidUserId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30107: Invalid User Id."
        }
      }
    },
    "ErrorInvalidAccountType": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30108: Invalid Account Type."
        }
      }
    },
    "ErrorInitialBalanceMustBeZero": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30109: Initial Balance of Account must be Zero (0)."
        }
      }
    },
    "ErrorInvalidAccountIdFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30110: Invalid Account Id. The ACCOUNT_ID should only contain 0-9/a-z/A-Z/'-'/'.'/'_', the length should be smaller than 255."
        }
      }
    },
    "ErrorInvalidBankIdFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30111: Invalid Bank Id. The BANK_ID should only contain 0-9/a-z/A-Z/'-'/'.'/'_', the length should be smaller than 255."
        }
      }
    },
    "ErrorInvalidAccountInitialBalance": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30112: Invalid Number. Initial balance must be a number, e.g 1000.00"
        }
      }
    },
    "ErrorEntitlementIsBankRole": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30205: This entitlement is a Bank Role. Please set bank_id to a valid bank id."
        }
      }
    },
    "ErrorEntitlementIsSystemRole": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30206: This entitlement is a System Role. Please set bank_id to empty string."
        }
      }
    },
    "ErrorInvalidStrongPasswordFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30207: Invalid Password Format. Your password should EITHER be at least 10 characters long and contain mixed numbers and both upper and lower case letters and at least one special character, OR be longer than 16 characters."
        }
      }
    },
    "ErrorAccountIdAlreadyExsits": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30208: Account_ID already exists at the Bank."
        }
      }
    },
    "ErrorInsufficientAuthorisationToCreateBranch": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30209: Insufficient authorisation to Create Branch. You do not have the role CanCreateBranch."
        }
      }
    },
    "ErrorInsufficientAuthorisationToCreateBank": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30210: Insufficient authorisation to Create Bank. You do not have the role CanCreateBank."
        }
      }
    },
    "ErrorInvalidTransactionRequestType": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40001: Invalid value for TRANSACTION_REQUEST_TYPE"
        }
      }
    },
    "ErrorInsufficientAuthorisationToCreateTransactionRequest": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40002: Insufficient authorisation to create TransactionRequest. The Transaction Request could not be created because you don't have access to the owner view of the from account or you don't have access to canCreateAnyTransactionRequest."
        }
      }
    },
    "ErrorInvalidTransactionRequestCurrency": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40003: Transaction Request Currency must be the same as From Account Currency."
        }
      }
    },
    "ErrorInvalidTransactionRequestId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40004: Transaction Request Id not found."
        }
      }
    },
    "ErrorInsufficientAuthorisationToCreateTransactionType": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40005: Insufficient authorisation to Create Transaction Type offered by the bank. The Request could not be created because you don't have access to CanCreateTransactionType."
        }
      }
    },
    "ErrorCreateTransactionTypeInsertError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40006: Could not insert Transaction Type: Non unique BANK_ID / SHORT_CODE"
        }
      }
    },
    "ErrorCreateTransactionTypeUpdateError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40007: Could not update Transaction Type: Non unique BANK_ID / SHORT_CODE"
        }
      }
    },
    "ErrorNotPositiveAmount": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40008: Can't send a payment with a value of 0 or less."
        }
      }
    },
    "ErrorTransactionRequestTypeHasChanged": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40009: The TRANSACTION_REQUEST_TYPE has changed."
        }
      }
    },
    "ErrorInvalidTransactionRequesChallengeId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40010: Invalid Challenge Id. Please specify a valid value for CHALLENGE_ID."
        }
      }
    },
    "ErrorTransactionRequestStatusNotInitiated": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40011: Transaction Request Status is not INITIATED."
        }
      }
    },
    "ErrorCounterpartyNotFoundOtherAccountProvider": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40012: Please set up the otherAccountRoutingScheme and otherBankRoutingScheme fields of the Counterparty to 'OBP'"
        }
      }
    },
    "ErrorInvalidChargePolicy": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40013: Invalid Charge Policy. Please specify a valid value for Charge_Policy: SHARED, SENDER or RECEIVER. "
        }
      }
    },
    "ErrorAllowedAttemptsUsedUp": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40014: Sorry, you've used up your allowed attempts. "
        }
      }
    },
    "ErrorInvalidChallengeType": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40015: Invalid Challenge Type. Please specify a valid value for CHALLENGE_TYPE, when you create the transaction request."
        }
      }
    },
    "ErrorInvalidChallengeAnswer": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40016: Invalid Challenge Answer. Please specify a valid value for answer in Json body."
        }
      }
    },
    "ErrorInvalidPhoneNumber": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40017: Invalid Phone Number. Please specify a valid value for PHONE_NUMBER. Eg:+9722398746 "
        }
      }
    },
    "ErrorUnknownError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50000: Unknown Error."
        }
      }
    },
    "ErrorFutureTimeoutException": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50001: Future Timeout Exception."
        }
      }
    },
    "ErrorKafkaMessageClassCastException": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50002: Kafka Response Message Class Cast Exception."
        }
      }
    },
    "ErrorAdapterOrCoreBankingSystemException": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50003: Adapter Or Core Banking System Exception. Failed to get a valid response from the south side Adapter or Core Banking System."
        }
      }
    },
    "ErrorCurrentUserNotFoundException": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50004: Method (AuthUser.getCurrentUser) can not find the current user in the current context!"
        }
      }
    },
    "ErrorConnectorEmptyResponse": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50200: Connector cannot return the data we requested."
        }
      }
    },
    "ErrorInvalidConnectorResponseForGetBankAccounts": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50201: Connector did not return the set of accounts we requested."
        }
      }
    },
    "ErrorInvalidConnectorResponseForGetBankAccount": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50202: Connector did not return the account we requested."
        }
      }
    },
    "ErrorInvalidConnectorResponseForGetTransaction": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50203: Connector did not return the transaction we requested."
        }
      }
    },
    "ErrorInvalidConnectorResponseForGetTransactions": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50204: Connector did not return the set of transactions we requested."
        }
      }
    },
    "ErrorallFields": {
      "properties": {
        "message": {
          "type": "string",
          "example": "null"
        }
      }
    },
    "EmptyClassJson": {
      "properties": {}
    },
    "ChallengeAnswerJSON": {
      "required": [
        "id",
        "answer"
      ],
      "properties": {
        "answer": {
          "type": "string",
          "example": "good"
        },
        "id": {
          "type": "string",
          "example": "b20dd004-93e3-494f-8773-69e3ff8c205e"
        }
      }
    },
    "TransactionRequestBodyTransferToPhoneJson": {
      "required": [
        "value",
        "description",
        "from_account_phone_number",
        "from_account_owner_nickname",
        "couterparty"
      ],
      "properties": {
        "couterparty": {
          "$ref": "#/definitions/CounterpartyTransferToPhoneJson"
        },
        "description": {
          "type": "string",
          "example": "This is a TRANSFER_TO_PHONE Transaction Request"
        },
        "from_account_owner_nickname": {
          "type": "string",
          "example": "Tom"
        },
        "from_account_phone_number": {
          "type": "string",
          "example": "+9722398712"
        },
        "value": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        }
      }
    },
    "License": {
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "String"
        },
        "id": {
          "type": "string",
          "example": "id"
        }
      }
    },
    "Routing": {
      "required": [
        "scheme",
        "address"
      ],
      "properties": {
        "address": {
          "type": "string",
          "example": "123abc"
        },
        "scheme": {
          "type": "string",
          "example": "OBP"
        }
      }
    },
    "BranchId": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "AmountOfMoney": {
      "required": [
        "currency",
        "amount"
      ],
      "properties": {
        "amount": {
          "type": "string",
          "example": "100"
        },
        "currency": {
          "type": "string",
          "example": "EUR"
        }
      }
    },
    "CreateViewJson": {
      "required": [
        "name",
        "description",
        "is_public",
        "which_alias_to_use",
        "hide_metadata_if_alias_used",
        "allowed_actions"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "test"
        },
        "description": {
          "type": "string",
          "example": "good"
        },
        "is_public": {
          "type": "boolean",
          "example": "true"
        },
        "hide_metadata_if_alias_used": {
          "type": "boolean",
          "example": "false"
        },
        "which_alias_to_use": {
          "type": "string",
          "example": "good"
        },
        "allowed_actions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UpdateViewJSON": {
      "required": [
        "description",
        "is_public",
        "which_alias_to_use",
        "hide_metadata_if_alias_used",
        "allowed_actions"
      ],
      "properties": {
        "description": {
          "type": "string",
          "example": "good"
        },
        "is_public": {
          "type": "boolean",
          "example": "true"
        },
        "hide_metadata_if_alias_used": {
          "type": "boolean",
          "example": "true"
        },
        "which_alias_to_use": {
          "type": "string",
          "example": "good"
        },
        "allowed_actions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TransactionTypeId": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "123"
        }
      }
    },
    "BankId": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "gh.uk.9j"
        }
      }
    },
    "TransactionRequestId": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "123"
        }
      }
    },
    "CounterpartyId": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "123"
        }
      }
    },
    "AccountId": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "123"
        }
      }
    },
    "ViewId": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "owner"
        }
      }
    },
    "TransactionType": {
      "required": [
        "id",
        "bankId",
        "shortCode",
        "summary",
        "description",
        "charge"
      ],
      "properties": {
        "shortCode": {
          "type": "string",
          "example": "80080"
        },
        "description": {
          "type": "string",
          "example": "good"
        },
        "id": {
          "$ref": "#/definitions/TransactionTypeId"
        },
        "charge": {
          "$ref": "#/definitions/AmountOfMoney"
        },
        "bankId": {
          "$ref": "#/definitions/BankId"
        },
        "summary": {
          "type": "string",
          "example": "good"
        }
      }
    },
    "TransactionRequestCharge": {
      "required": [
        "summary",
        "value"
      ],
      "properties": {
        "value": {
          "$ref": "#/definitions/AmountOfMoney"
        },
        "summary": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "TransactionRequestChallenge": {
      "required": [
        "id",
        "allowed_attempts",
        "challenge_type"
      ],
      "properties": {
        "challenge_type": {
          "type": "string",
          "example": "String"
        },
        "allowed_attempts": {
          "type": "integer",
          "format": "int32",
          "example": "4"
        },
        "id": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "TransactionRequestAccount": {
      "required": [
        "bank_id",
        "account_id"
      ],
      "properties": {
        "account_id": {
          "type": "string",
          "example": "String"
        },
        "bank_id": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "TransactionRequestBody": {
      "required": [
        "to",
        "value",
        "description"
      ],
      "properties": {
        "description": {
          "type": "string",
          "example": "String"
        },
        "value": {
          "$ref": "#/definitions/AmountOfMoney"
        },
        "to": {
          "$ref": "#/definitions/TransactionRequestAccount"
        }
      }
    },
    "TransactionRequest": {
      "required": [
        "id",
        "type",
        "from",
        "details",
        "body",
        "transaction_ids",
        "status",
        "start_date",
        "end_date",
        "challenge",
        "charge",
        "charge_policy",
        "counterparty_id",
        "name",
        "this_bank_id",
        "this_account_id",
        "this_view_id",
        "other_account_routing_scheme",
        "other_account_routing_address",
        "other_bank_routing_scheme",
        "other_bank_routing_address",
        "is_beneficiary"
      ],
      "properties": {
        "other_account_routing_address": {
          "type": "string",
          "example": "String"
        },
        "other_account_routing_scheme": {
          "type": "string",
          "example": "String"
        },
        "body": {
          "$ref": "#/definitions/TransactionRequestBody"
        },
        "challenge": {
          "$ref": "#/definitions/TransactionRequestChallenge"
        },
        "name": {
          "type": "string",
          "example": "String"
        },
        "start_date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "is_beneficiary": {
          "type": "boolean",
          "example": "true"
        },
        "other_bank_routing_scheme": {
          "type": "string",
          "example": "String"
        },
        "id": {
          "$ref": "#/definitions/TransactionRequestId"
        },
        "this_account_id": {
          "$ref": "#/definitions/AccountId"
        },
        "end_date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "status": {
          "type": "string",
          "example": "String"
        },
        "charge_policy": {
          "type": "string",
          "example": "String"
        },
        "from": {
          "$ref": "#/definitions/TransactionRequestAccount"
        },
        "this_view_id": {
          "$ref": "#/definitions/ViewId"
        },
        "details": {
          "type": "string",
          "example": ""
        },
        "charge": {
          "$ref": "#/definitions/TransactionRequestCharge"
        },
        "other_bank_routing_address": {
          "type": "string",
          "example": "String"
        },
        "this_bank_id": {
          "$ref": "#/definitions/BankId"
        },
        "type": {
          "type": "string",
          "example": "String"
        },
        "counterparty_id": {
          "$ref": "#/definitions/CounterpartyId"
        },
        "transaction_ids": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "MessageDocJson": {
      "required": [
        "process",
        "message_format",
        "description",
        "example_outbound_message",
        "example_inbound_message"
      ],
      "properties": {
        "example_inbound_message": {
          "type": "string",
          "example": ""
        },
        "description": {
          "type": "string",
          "example": "get Banks"
        },
        "process": {
          "type": "string",
          "example": "getBanks"
        },
        "message_format": {
          "type": "string",
          "example": "KafkaV2017"
        },
        "example_outbound_message": {
          "type": "string",
          "example": ""
        }
      }
    },
    "MessageDocsJson": {
      "required": [
        "messageDocs"
      ],
      "properties": {
        "messageDocs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageDocJson"
          }
        }
      }
    },
    "MakePaymentJson": {
      "required": [
        "bank_id",
        "account_id",
        "amount"
      ],
      "properties": {
        "amount": {
          "type": "string",
          "example": "String"
        },
        "account_id": {
          "type": "string",
          "example": "String"
        },
        "bank_id": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "TransactionIdJson": {
      "required": [
        "transaction_id"
      ],
      "properties": {
        "transaction_id": {
          "type": "string",
          "example": "123"
        }
      }
    },
    "HostedBy": {
      "required": [
        "organisation",
        "email",
        "phone"
      ],
      "properties": {
        "phone": {
          "type": "string",
          "example": "String"
        },
        "email": {
          "type": "string",
          "example": "String"
        },
        "organisation": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "Akka": {
      "properties": {
        "remote_data_secret_matched": {
          "type": "boolean",
          "example": "true"
        }
      }
    },
    "APIInfoJSON": {
      "required": [
        "version",
        "version_status",
        "git_commit",
        "connector",
        "hosted_by",
        "akka"
      ],
      "properties": {
        "akka": {
          "$ref": "#/definitions/Akka"
        },
        "version_status": {
          "type": "string",
          "example": "String"
        },
        "version": {
          "type": "string",
          "example": "String"
        },
        "connector": {
          "type": "string",
          "example": "String"
        },
        "hosted_by": {
          "$ref": "#/definitions/HostedBy"
        },
        "git_commit": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "ErrorMessage": {
      "required": [
        "error"
      ],
      "properties": {
        "error": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "PostTransactionImageJSON": {
      "required": [
        "label",
        "URL"
      ],
      "properties": {
        "URL": {
          "type": "string",
          "example": "String"
        },
        "label": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "PostTransactionCommentJSON": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "PostTransactionTagJSON": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "AliasJSON": {
      "required": [
        "alias"
      ],
      "properties": {
        "alias": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "MoreInfoJSON": {
      "required": [
        "more_info"
      ],
      "properties": {
        "more_info": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "UrlJSON": {
      "required": [
        "URL"
      ],
      "properties": {
        "URL": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "ImageUrlJSON": {
      "required": [
        "image_URL"
      ],
      "properties": {
        "image_URL": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "OpenCorporateUrlJSON": {
      "required": [
        "open_corporates_URL"
      ],
      "properties": {
        "open_corporates_URL": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "AccountRoutingJsonV121": {
      "required": [
        "scheme",
        "address"
      ],
      "properties": {
        "address": {
          "type": "string",
          "example": "DE89 3704 0044 0532 0130 00"
        },
        "scheme": {
          "type": "string",
          "example": "IBAN"
        }
      }
    },
    "AmountOfMoneyJsonV121": {
      "required": [
        "currency",
        "amount"
      ],
      "properties": {
        "amount": {
          "type": "string",
          "example": "10"
        },
        "currency": {
          "type": "string",
          "example": "EUR"
        }
      }
    },
    "UserJSONV121": {
      "required": [
        "id",
        "provider",
        "display_name"
      ],
      "properties": {
        "display_name": {
          "type": "string",
          "example": "OBP"
        },
        "provider": {
          "type": "string",
          "example": "OBP"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        }
      }
    },
    "ViewJSONV121": {
      "required": [
        "id",
        "short_name",
        "description",
        "is_public",
        "alias",
        "hide_metadata_if_alias_used",
        "can_add_comment",
        "can_add_corporate_location",
        "can_add_image",
        "can_add_image_url",
        "can_add_more_info",
        "can_add_open_corporates_url",
        "can_add_physical_location",
        "can_add_private_alias",
        "can_add_public_alias",
        "can_add_tag",
        "can_add_url",
        "can_add_where_tag",
        "can_delete_comment",
        "can_delete_corporate_location",
        "can_delete_image",
        "can_delete_physical_location",
        "can_delete_tag",
        "can_delete_where_tag",
        "can_edit_owner_comment",
        "can_see_bank_account_balance",
        "can_see_bank_account_bank_name",
        "can_see_bank_account_currency",
        "can_see_bank_account_iban",
        "can_see_bank_account_label",
        "can_see_bank_account_national_identifier",
        "can_see_bank_account_number",
        "can_see_bank_account_owners",
        "can_see_bank_account_swift_bic",
        "can_see_bank_account_type",
        "can_see_comments",
        "can_see_corporate_location",
        "can_see_image_url",
        "can_see_images",
        "can_see_more_info",
        "can_see_open_corporates_url",
        "can_see_other_account_bank_name",
        "can_see_other_account_iban",
        "can_see_other_account_kind",
        "can_see_other_account_metadata",
        "can_see_other_account_national_identifier",
        "can_see_other_account_number",
        "can_see_other_account_swift_bic",
        "can_see_owner_comment",
        "can_see_physical_location",
        "can_see_private_alias",
        "can_see_public_alias",
        "can_see_tags",
        "can_see_transaction_amount",
        "can_see_transaction_balance",
        "can_see_transaction_currency",
        "can_see_transaction_description",
        "can_see_transaction_finish_date",
        "can_see_transaction_metadata",
        "can_see_transaction_other_bank_account",
        "can_see_transaction_start_date",
        "can_see_transaction_this_bank_account",
        "can_see_transaction_type",
        "can_see_url",
        "can_see_where_tag"
      ],
      "properties": {
        "can_see_transaction_start_date": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_url": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_where_tag": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_transaction_this_bank_account": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_bank_account_owners": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_private_alias": {
          "type": "boolean",
          "example": "true"
        },
        "can_edit_owner_comment": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_other_account_national_identifier": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_public_alias": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_physical_location": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_owner_comment": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_bank_account_iban": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_corporate_location": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_bank_account_number": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_other_account_bank_name": {
          "type": "boolean",
          "example": "true"
        },
        "description": {
          "type": "string",
          "example": "description"
        },
        "can_see_transaction_other_bank_account": {
          "type": "boolean",
          "example": "true"
        },
        "can_delete_corporate_location": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_comments": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_bank_account_bank_name": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_more_info": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_other_account_number": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_other_account_swift_bic": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_open_corporates_url": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_other_account_kind": {
          "type": "boolean",
          "example": "true"
        },
        "can_delete_physical_location": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_bank_account_label": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_transaction_currency": {
          "type": "boolean",
          "example": "true"
        },
        "is_public": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_transaction_finish_date": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_tag": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_images": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_bank_account_currency": {
          "type": "boolean",
          "example": "true"
        },
        "hide_metadata_if_alias_used": {
          "type": "boolean",
          "example": "true"
        },
        "can_delete_where_tag": {
          "type": "boolean",
          "example": "true"
        },
        "alias": {
          "type": "string",
          "example": "None"
        },
        "can_add_image_url": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_comment": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_image_url": {
          "type": "boolean",
          "example": "true"
        },
        "id": {
          "type": "string",
          "example": "123"
        },
        "can_see_bank_account_national_identifier": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_tags": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_open_corporates_url": {
          "type": "boolean",
          "example": "true"
        },
        "short_name": {
          "type": "string",
          "example": "short_name"
        },
        "can_delete_tag": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_more_info": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_transaction_metadata": {
          "type": "boolean",
          "example": "true"
        },
        "can_delete_comment": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_where_tag": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_private_alias": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_public_alias": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_bank_account_swift_bic": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_image": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_transaction_type": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_other_account_iban": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_physical_location": {
          "type": "boolean",
          "example": "true"
        },
        "can_add_corporate_location": {
          "type": "boolean",
          "example": "true"
        },
        "can_delete_image": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_url": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_bank_account_balance": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_transaction_balance": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_transaction_amount": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_other_account_metadata": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_bank_account_type": {
          "type": "boolean",
          "example": "true"
        },
        "can_see_transaction_description": {
          "type": "boolean",
          "example": "true"
        }
      }
    },
    "ViewsJSONV121": {
      "required": [
        "views"
      ],
      "properties": {
        "views": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ViewJSONV121"
          }
        }
      }
    },
    "AccountJSON": {
      "required": [
        "id",
        "label",
        "views_available",
        "bank_id"
      ],
      "properties": {
        "bank_id": {
          "type": "string",
          "example": "gh.uk.db"
        },
        "views_available": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ViewJSONV121"
          }
        },
        "label": {
          "type": "string",
          "example": "OBP"
        },
        "id": {
          "type": "string",
          "example": "123"
        }
      }
    },
    "AccountsJSON": {
      "required": [
        "accounts"
      ],
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountJSON"
          }
        }
      }
    },
    "BankRoutingJsonV121": {
      "required": [
        "scheme",
        "address"
      ],
      "properties": {
        "address": {
          "type": "string",
          "example": "gh.29.uk"
        },
        "scheme": {
          "type": "string",
          "example": "Bank_ID"
        }
      }
    },
    "BankJSON": {
      "required": [
        "id",
        "short_name",
        "full_name",
        "logo",
        "website",
        "bank_routing"
      ],
      "properties": {
        "website": {
          "type": "string",
          "example": "www.openbankproject.com"
        },
        "full_name": {
          "type": "string",
          "example": "full_name"
        },
        "logo": {
          "type": "string",
          "example": "logo"
        },
        "id": {
          "type": "string",
          "example": "gh.29.uk"
        },
        "short_name": {
          "type": "string",
          "example": "short_name "
        },
        "bank_routing": {
          "$ref": "#/definitions/BankRoutingJsonV121"
        }
      }
    },
    "BanksJSON": {
      "required": [
        "banks"
      ],
      "properties": {
        "banks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankJSON"
          }
        }
      }
    },
    "AccountHolderJSON": {
      "required": [
        "name",
        "is_alias"
      ],
      "properties": {
        "is_alias": {
          "type": "boolean",
          "example": "true"
        },
        "name": {
          "type": "string",
          "example": "OBP"
        }
      }
    },
    "MinimalBankJSON": {
      "required": [
        "national_identifier",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "OBP"
        },
        "national_identifier": {
          "type": "string",
          "example": "OBP"
        }
      }
    },
    "ModeratedAccountJSON": {
      "required": [
        "id",
        "label",
        "number",
        "owners",
        "type",
        "balance",
        "IBAN",
        "swift_bic",
        "views_available",
        "bank_id",
        "account_routing"
      ],
      "properties": {
        "number": {
          "type": "string",
          "example": "123"
        },
        "account_routing": {
          "$ref": "#/definitions/AccountRoutingJsonV121"
        },
        "views_available": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ViewJSONV121"
          }
        },
        "IBAN": {
          "type": "string",
          "example": "DE89 3704 0044 0532 0130 00"
        },
        "label": {
          "type": "string",
          "example": "NoneLabel"
        },
        "owners": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserJSONV121"
          }
        },
        "swift_bic": {
          "type": "string",
          "example": "OKOYFIHH"
        },
        "balance": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        },
        "bank_id": {
          "type": "string",
          "example": "gh.29.uk"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        },
        "type": {
          "type": "string",
          "example": "OBP"
        }
      }
    },
    "ThisAccountJSON": {
      "required": [
        "id",
        "holders",
        "number",
        "kind",
        "IBAN",
        "swift_bic",
        "bank"
      ],
      "properties": {
        "number": {
          "type": "string",
          "example": "123"
        },
        "IBAN": {
          "type": "string",
          "example": "UK1234AD"
        },
        "swift_bic": {
          "type": "string",
          "example": "UK1234AD"
        },
        "bank": {
          "$ref": "#/definitions/MinimalBankJSON"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        },
        "holders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountHolderJSON"
          }
        },
        "kind": {
          "type": "string",
          "example": "AC"
        }
      }
    },
    "LocationJSONV121": {
      "required": [
        "latitude",
        "longitude",
        "date",
        "user"
      ],
      "properties": {
        "user": {
          "$ref": "#/definitions/UserJSONV121"
        },
        "date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "example": "1.231"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "example": "1.231"
        }
      }
    },
    "OtherAccountMetadataJSON": {
      "required": [
        "public_alias",
        "private_alias",
        "more_info",
        "URL",
        "image_URL",
        "open_corporates_URL",
        "corporate_location",
        "physical_location"
      ],
      "properties": {
        "public_alias": {
          "type": "string",
          "example": "NONE"
        },
        "image_URL": {
          "type": "string",
          "example": "www.openbankproject.com"
        },
        "physical_location": {
          "$ref": "#/definitions/LocationJSONV121"
        },
        "private_alias": {
          "type": "string",
          "example": "NONE"
        },
        "URL": {
          "type": "string",
          "example": "www.openbankproject.com"
        },
        "more_info": {
          "type": "string",
          "example": "www.openbankproject.com"
        },
        "corporate_location": {
          "$ref": "#/definitions/LocationJSONV121"
        },
        "open_corporates_URL": {
          "type": "string",
          "example": "www.openbankproject.com"
        }
      }
    },
    "OtherAccountJSON": {
      "required": [
        "id",
        "holder",
        "number",
        "kind",
        "IBAN",
        "swift_bic",
        "bank",
        "metadata"
      ],
      "properties": {
        "number": {
          "type": "string",
          "example": "123"
        },
        "IBAN": {
          "type": "string",
          "example": "UK234DB"
        },
        "swift_bic": {
          "type": "string",
          "example": "UK12321DB"
        },
        "holder": {
          "$ref": "#/definitions/AccountHolderJSON"
        },
        "bank": {
          "$ref": "#/definitions/MinimalBankJSON"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        },
        "metadata": {
          "$ref": "#/definitions/OtherAccountMetadataJSON"
        },
        "kind": {
          "type": "string",
          "example": "3456"
        }
      }
    },
    "TransactionDetailsJSON": {
      "required": [
        "type",
        "description",
        "posted",
        "completed",
        "new_balance",
        "value"
      ],
      "properties": {
        "new_balance": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        },
        "description": {
          "type": "string",
          "example": "GOOD"
        },
        "completed": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "type": {
          "type": "string",
          "example": "AC"
        },
        "value": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        },
        "posted": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        }
      }
    },
    "TransactionImageJSON": {
      "required": [
        "id",
        "label",
        "URL",
        "date",
        "user"
      ],
      "properties": {
        "URL": {
          "type": "string",
          "example": "www.openbankproject.com"
        },
        "label": {
          "type": "string",
          "example": "NONE"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        },
        "date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "user": {
          "$ref": "#/definitions/UserJSONV121"
        }
      }
    },
    "TransactionImagesJSON": {
      "required": [
        "images"
      ],
      "properties": {
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionImageJSON"
          }
        }
      }
    },
    "TransactionCommentJSON": {
      "required": [
        "id",
        "value",
        "date",
        "user"
      ],
      "properties": {
        "user": {
          "$ref": "#/definitions/UserJSONV121"
        },
        "date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "value": {
          "type": "string",
          "example": "OBP"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        }
      }
    },
    "TransactionTagJSON": {
      "required": [
        "id",
        "value",
        "date",
        "user"
      ],
      "properties": {
        "user": {
          "$ref": "#/definitions/UserJSONV121"
        },
        "date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "value": {
          "type": "string",
          "example": "OBP"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        }
      }
    },
    "TransactionTagsJSON": {
      "required": [
        "tags"
      ],
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionTagJSON"
          }
        }
      }
    },
    "TransactionMetadataJSON": {
      "required": [
        "narrative",
        "comments",
        "tags",
        "images",
        "where"
      ],
      "properties": {
        "narrative": {
          "type": "string",
          "example": "NONE"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionTagJSON"
          }
        },
        "where": {
          "$ref": "#/definitions/LocationJSONV121"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionImageJSON"
          }
        },
        "comments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionCommentJSON"
          }
        }
      }
    },
    "TransactionJSON": {
      "required": [
        "id",
        "this_account",
        "other_account",
        "details",
        "metadata"
      ],
      "properties": {
        "this_account": {
          "$ref": "#/definitions/ThisAccountJSON"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        },
        "details": {
          "$ref": "#/definitions/TransactionDetailsJSON"
        },
        "metadata": {
          "$ref": "#/definitions/TransactionMetadataJSON"
        },
        "other_account": {
          "$ref": "#/definitions/OtherAccountJSON"
        }
      }
    },
    "TransactionsJSON": {
      "required": [
        "transactions"
      ],
      "properties": {
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionJSON"
          }
        }
      }
    },
    "SuccessMessage": {
      "required": [
        "success"
      ],
      "properties": {
        "success": {
          "type": "string",
          "example": "Success"
        }
      }
    },
    "OtherAccountsJSON": {
      "required": [
        "other_accounts"
      ],
      "properties": {
        "other_accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OtherAccountJSON"
          }
        }
      }
    },
    "TransactionNarrativeJSON": {
      "required": [
        "narrative"
      ],
      "properties": {
        "narrative": {
          "type": "string",
          "example": "narative"
        }
      }
    },
    "TransactionCommentsJSON": {
      "required": [
        "comments"
      ],
      "properties": {
        "comments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionCommentJSON"
          }
        }
      }
    },
    "TransactionWhereJSON": {
      "required": [
        "where"
      ],
      "properties": {
        "where": {
          "$ref": "#/definitions/LocationJSONV121"
        }
      }
    },
    "PermissionJSON": {
      "required": [
        "user",
        "views"
      ],
      "properties": {
        "views": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ViewJSONV121"
          }
        },
        "user": {
          "$ref": "#/definitions/UserJSONV121"
        }
      }
    },
    "PermissionsJSON": {
      "required": [
        "permissions"
      ],
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PermissionJSON"
          }
        }
      }
    },
    "UpdateAccountJSON": {
      "required": [
        "id",
        "label",
        "bank_id"
      ],
      "properties": {
        "bank_id": {
          "type": "string",
          "example": "gh.29.uk"
        },
        "label": {
          "type": "string",
          "example": "label"
        },
        "id": {
          "type": "string",
          "example": "123123"
        }
      }
    },
    "ViewIdsJson": {
      "required": [
        "views"
      ],
      "properties": {
        "views": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LocationPlainJSON": {
      "required": [
        "latitude",
        "longitude"
      ],
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double",
          "example": "1.535"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "example": "1.532"
        }
      }
    },
    "PostTransactionWhereJSON": {
      "required": [
        "where"
      ],
      "properties": {
        "where": {
          "$ref": "#/definitions/LocationPlainJSON"
        }
      }
    },
    "CorporateLocationJSON": {
      "required": [
        "corporate_location"
      ],
      "properties": {
        "corporate_location": {
          "$ref": "#/definitions/LocationPlainJSON"
        }
      }
    },
    "PhysicalLocationJSON": {
      "required": [
        "physical_location"
      ],
      "properties": {
        "physical_location": {
          "$ref": "#/definitions/LocationPlainJSON"
        }
      }
    },
    "PinResetJSON": {
      "required": [
        "requested_date",
        "reason_requested"
      ],
      "properties": {
        "reason_requested": {
          "type": "string",
          "example": "forgot"
        },
        "requested_date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        }
      }
    },
    "ReplacementJSON": {
      "required": [
        "requested_date",
        "reason_requested"
      ],
      "properties": {
        "reason_requested": {
          "type": "string",
          "example": "Good Point"
        },
        "requested_date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        }
      }
    },
    "PhysicalCardJSON": {
      "required": [
        "bank_id",
        "bank_card_number",
        "name_on_card",
        "issue_number",
        "serial_number",
        "valid_from_date",
        "expires_date",
        "enabled",
        "cancelled",
        "on_hot_list",
        "technology",
        "networks",
        "allows",
        "account",
        "replacement",
        "pin_reset",
        "collected",
        "posted"
      ],
      "properties": {
        "allows": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expires_date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "networks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "issue_number": {
          "type": "string",
          "example": "String"
        },
        "replacement": {
          "$ref": "#/definitions/ReplacementJSON"
        },
        "enabled": {
          "type": "boolean",
          "example": "true"
        },
        "collected": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "technology": {
          "type": "string",
          "example": "String"
        },
        "cancelled": {
          "type": "boolean",
          "example": "true"
        },
        "bank_id": {
          "type": "string",
          "example": "String"
        },
        "pin_reset": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PinResetJSON"
          }
        },
        "serial_number": {
          "type": "string",
          "example": "String"
        },
        "account": {
          "$ref": "#/definitions/AccountJSON"
        },
        "valid_from_date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "bank_card_number": {
          "type": "string",
          "example": "String"
        },
        "name_on_card": {
          "type": "string",
          "example": "String"
        },
        "posted": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "on_hot_list": {
          "type": "boolean",
          "example": "true"
        }
      }
    },
    "PhysicalCardsJSON": {
      "required": [
        "cards"
      ],
      "properties": {
        "cards": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PhysicalCardJSON"
          }
        }
      }
    },
    "PostPhysicalCardJSON": {
      "required": [
        "bank_card_number",
        "name_on_card",
        "issue_number",
        "serial_number",
        "valid_from_date",
        "expires_date",
        "enabled",
        "cancelled",
        "on_hot_list",
        "technology",
        "networks",
        "allows",
        "account_id",
        "replacement",
        "pin_reset",
        "collected",
        "posted"
      ],
      "properties": {
        "allows": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expires_date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "networks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "issue_number": {
          "type": "string",
          "example": "String"
        },
        "replacement": {
          "$ref": "#/definitions/ReplacementJSON"
        },
        "enabled": {
          "type": "boolean",
          "example": "true"
        },
        "collected": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "technology": {
          "type": "string",
          "example": "String"
        },
        "cancelled": {
          "type": "boolean",
          "example": "true"
        },
        "account_id": {
          "type": "string",
          "example": "String"
        },
        "pin_reset": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PinResetJSON"
          }
        },
        "serial_number": {
          "type": "string",
          "example": "String"
        },
        "valid_from_date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "bank_card_number": {
          "type": "string",
          "example": "String"
        },
        "name_on_card": {
          "type": "string",
          "example": "String"
        },
        "posted": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "on_hot_list": {
          "type": "boolean",
          "example": "true"
        }
      }
    },
    "CustomerFaceImageJson": {
      "required": [
        "url",
        "date"
      ],
      "properties": {
        "date": {
          "type": "string",
          "format": "date",
          "example": "Tue Jan 22 00:08:00 UTC 2013"
        },
        "url": {
          "type": "string",
          "example": "www.openbankproject"
        }
      }
    },
    "LocationJsonV140": {
      "required": [
        "latitude",
        "longitude"
      ],
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double",
          "example": "11.45"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "example": "11.45"
        }
      }
    },
    "TransactionRequestChargeJsonV140": {
      "required": [
        "summary",
        "value"
      ],
      "properties": {
        "value": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        },
        "summary": {
          "type": "string",
          "example": "Good"
        }
      }
    },
    "TransactionRequestTypeJsonV140": {
      "required": [
        "value",
        "charge"
      ],
      "properties": {
        "charge": {
          "$ref": "#/definitions/TransactionRequestChargeJsonV140"
        },
        "value": {
          "type": "string",
          "example": "10"
        }
      }
    },
    "TransactionRequestTypesJsonV140": {
      "required": [
        "transaction_request_types"
      ],
      "properties": {
        "transaction_request_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionRequestTypeJsonV140"
          }
        }
      }
    },
    "TransactionRequestAccountJsonV140": {
      "required": [
        "bank_id",
        "account_id"
      ],
      "properties": {
        "account_id": {
          "type": "string",
          "example": "8ca8a7e4-6d02-48e3-a029-0b2bf89de9f0"
        },
        "bank_id": {
          "type": "string",
          "example": "gh.29.uk"
        }
      }
    },
    "ChallengeJsonV140": {
      "required": [
        "id",
        "allowed_attempts",
        "challenge_type"
      ],
      "properties": {
        "challenge_type": {
          "type": "string",
          "example": "SANDBOX_TAN"
        },
        "allowed_attempts": {
          "type": "integer",
          "format": "int32",
          "example": "3"
        },
        "id": {
          "type": "string",
          "example": "be1a183d-b301-4b83-b855-5eeffdd3526f"
        }
      }
    },
    "DriveUpStringJson": {
      "required": [
        "hours"
      ],
      "properties": {
        "hours": {
          "type": "string",
          "example": "5"
        }
      }
    },
    "LicenseJsonV140": {
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "TESOBE"
        },
        "id": {
          "type": "string",
          "example": "5"
        }
      }
    },
    "MetaJsonV140": {
      "required": [
        "license"
      ],
      "properties": {
        "license": {
          "$ref": "#/definitions/LicenseJsonV140"
        }
      }
    },
    "LobbyStringJson": {
      "required": [
        "hours"
      ],
      "properties": {
        "hours": {
          "type": "string",
          "example": "5"
        }
      }
    },
    "AddressJsonV140": {
      "required": [
        "line_1",
        "line_2",
        "line_3",
        "city",
        "state",
        "postcode",
        "country"
      ],
      "properties": {
        "city": {
          "type": "string",
          "example": "Berlin"
        },
        "line_2": {
          "type": "string",
          "example": "Wedding"
        },
        "state": {
          "type": "string",
          "example": "Berlin Brandenburg"
        },
        "postcode": {
          "type": "string",
          "example": "13359"
        },
        "country": {
[...]
